In [2]:
import pandas

In [3]:
pandas.__version__

NameError: name 'pandas' is not defined

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [5]:
import pandas as pd
pd.read_excel("example.xlsx")

      name  salary department
0    Alice   50000         HR
1      Bob   60000         IT
2  Charlie   55000    Finance