In [7]:
# Boolean 참/거짓
bool = True # True/False
print(bool)
print(type(bool))
# 이제 터미널도 가능한거 같습니다.

In [20]:
my_list = [1,"hello",3.2, bool]
print(my_list)
print(type(my_list))

In [29]:
my_tuple = (1, 2, 3, "Python", 4.5)
print(my_tuple)
print(type(my_tuple))  # <class 'tuple'>

In [37]:
my_dict = {"name": "Python", "type": "Programming Language"}
print(my_dict)
print(type(my_dict))  # <class 'dict'>

In [19]:
my_set = {1, 2, 3, 4, 5, 5}
print(my_set)
print(type(my_set))  # <class 'set'>

In [23]:
a_list = [1, 2, 3, 4, 5, 5]
a_list

In [38]:
print("안녕하세요")
print("안녕하세요")
print("지연시간도 거의 없고, 로컬에서 작업하는 것과 비슷하네요 ㅎㅎ 대단합니다.")

In [40]:
numbers =[1,2,3,4,5]
print(*numbers)

In [41]:
a = "Like Lion"

In [47]:
a

In [43]:
len(a)

대한민국.서울
= 대한민국 안에 있는 서울

In [51]:
a.title()

In [49]:
a.lower

In [52]:
my_string = "   Hello, Python!   "
print(my_string.strip())  # "Hello, Python!"

In [56]:
# 만약에 python(소문자로) 찾으라고 했을때 7 인덱스를 반환 받으려면 어떻게 해야 되지??
my_string = "Hello, Python!"
print(my_string.find("python".capitalize()))  # 7
print(my_string.find("Java"))  # -1

7
-1

In [55]:
# 만약에 python(소문자로) 찾으라고 했을때 7 인덱스를 반환 받으려면 어떻게 해야 되지??
my_string = "Hello, Python!"
print(my_string.lower().find("python"))  # 7
print(my_string.find("Java"))  # -1

7
-1

- python 이라는 단어와 Python 단어는 대소문자 때문에 find가 찾지 못한다!
- 대소문자 차이가 문제야?
- 그러면 대소문자 맞춰주면 되잖아?
- my_string을 소문자로 만들면 되는거 아냐?
- 아! upper 함수가 ... 이건 아닌데?
- lower 함수가 그거네...

In [58]:
my_string = "Hello, Python!"
my_string.lower()
print(my_string.lower().find("python"))  # 7

7

In [59]:
my_string = "Hello, Python!"
print(my_string.replace("Python", "World"))  # Hello, World!

Hello, World!

In [67]:
# Ctrl+D
개강일 = "2024-10-10"
print(개강일)

2024-10-10

In [68]:
my_string = "Hello, Python, World!"
print(my_string.split(", "))  # ['Hello', 'Python', 'World!']

['Hello', 'Python', 'World!']

In [72]:
my_list = ['Hello', 'Python', 'World!']
'\n'.join(my_list)

'Hello\nPython\nWorld!'

In [73]:
print('\n'.join(my_list))

Hello
Python
World!

In [75]:
PI = 3.141592

In [76]:
print("Hello World",PI)
print("Hello", "World")

Hello World 3.141592
Hello World

In [77]:
print("Python", "is", "fun", sep="-")

Python-is-fun

In [85]:
print("Hello, ", end="likelion ")
print("World!")

Hello, likelion World!

In [88]:
input("이름을 입력해 주세요! : ")

'라이온'

In [90]:
name = input("이름을 입력해 주세요! : ")
age = 25
print("My name is %s and I'm %d years old." % (name, age))

My name is 라이온 and I'm 25 years old.

In [93]:
print("My name is {} and I'm {} years old.".format(name, age))

My name is 라이온 and I'm 25 years old.

In [98]:
print("My name is {1} and I'm {0} {1} years old.".format(age, name))

My name is 라이온 and I'm 25 라이온 years old.

In [99]:
print(f"My name is {name} and I'm {age} years old.")

My name is 라이온 and I'm 25 years old.

In [100]:
# list, dict
# 어떻게 만들고, 어떻게 값을 읽고, 넣고, 빼는지...

In [123]:
a = ['lion', 'tiger']
a

['lion', 'tiger']

In [124]:
a[-2] = "LION"

In [125]:
a.append("Bird")

In [126]:
a.

['LION', 'tiger', 'Bird']

In [121]:
a.pop()

IndexError: pop from empty list

In [127]:
# tuple
b = ('lion', 'tiger')
b

('lion', 'tiger')

In [131]:
b[0]

'lion'

In [130]:
b.append("bird")

AttributeError: 'tuple' object has no attribute 'append'

In [132]:
d = {"이름":"Lion", "나이":"100"}

In [134]:
my_movie = {"주인공":"이병헌","영화이름":"백조의 호수","배경":"달나라"}

In [135]:
my_movie["주인공"]

'이병헌'

In [136]:
my_movie.get("주인공")

'이병헌'

In [143]:
txt = "안녕하세요, 여기는 \"멋사\" 입니다"
print(txt)

안녕하세요, 여기는 "멋사" 입니다

In [144]:
txt_large = """
안녕하세요
반갑습니다!
"""
print(txt_large)

안녕하세요
반갑습니다!

In [148]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __annotations__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 888
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148031744
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [161]:
a = [1,2,3,4,5]

In [164]:
a1, *a2, a3 = a

In [165]:
a2

[2, 3, 4]

In [160]:
a2

[2, 3]

In [168]:
len(a)

5

a list 안에 몇개(n)가 있는지 모를떄

각 리스트들을 변수로 받아오려면

a1 ~ an 까지의 변수를 생성하고 싶었습니다.

아래 코드는 a1~ a5까지 변수를 생성해뒀습니다.

In [180]:
a = ['가',2,13,4,5]

for i in range(1,len(a)):
    globals()[f'a{i}'] = a[i-1]
    print(globals()[f'a{i}'] )

가
2
13
4

In [182]:
a = ['가',2,13,4,5]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

가
2
13
4
5

In [183]:
# 이 코드는 프린트는 했지만, 변수 생성을 하지 않은 상태라... 
for i in a:
    print(i)

가
2
13
4
5

In [184]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [186]:
my_list[1:5]

[1, 2, 3, 4]

In [ ]:
# 인덱스 2부터 5까지의 요소 선택
print(my_list[2:6])  # [2, 3, 4, 5]

# 리스트의 시작부터 인덱스 4까지의 요소 선택
print(my_list[:5])  # [0, 1, 2, 3, 4]

# 인덱스 5부터 리스트의 끝까지의 요소 선택
print(my_list[5:])  # [5, 6, 7, 8, 9]

# 전체 리스트 선택
print(my_list[:])  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [190]:
my_list[1:7:3]

[1, 4]

In [191]:
"""
변수 = 값
변수 = 다양한 자료형
자료형 : .....


리스트 
- 만들고
- 추가
- 사용
- 삭제....
"""

'\n변수 = 값\n변수 = 다양한 자료형\n자료형 : .....\n\n\n리스트 \n- 만들고\n- 추가\n- 사용\n- 삭제....\n'

In [192]:
my_list.append("멋사")

In [193]:
msg = "안녕하세요, 홍길동님!"
print(msg)

안녕하세요, 홍길동님!

In [194]:
이름="홍길동"
인삿말 ="안녕하세요"
print(f"{인삿말}, {이름}님")

안녕하세요, 홍길동님

In [ ]:
"""
상품명: 무선 이어폰
수량: 2개
가격: 85000원
배송지: 서울시 강남구 역삼동
"""
# 반복문 X

In [195]:
# 딕셔너리
order = {'상품명': '무선 이어폰',
'수량': '2개',
'가격': '85000원',
'배송지': '서울시 강남구 역삼동'}
order

{'상품명': '무선 이어폰', '수량': '2개', '가격': '85000원', '배송지': '서울시 강남구 역삼동'}

In [196]:
keys = list(order.keys())
keys

['상품명', '수량', '가격', '배송지']

In [198]:
print("{} : {}".format(keys[0], order[keys[0]]))
print("{} : {}".format(keys[1], order[keys[1]]))
print("{} : {}".format(keys[2], order[keys[2]]))
print("{} : {}".format(keys[3], order[keys[3]]))

상품명 : 무선 이어폰
수량 : 2개
가격 : 85000원
배송지 : 서울시 강남구 역삼동

In [203]:
name = "홍길동"
greeting = "안녕하세요"
print(greeting + ", " + name + "님 !")

안녕하세요, 홍길동님 !

In [216]:
fruits = ["apple", "banana", "cherry"]  # list 2 문자열
'''

", ".join(fruits)  # apple, banana, cherry
'''
result = ", ".join(fruits)
print(result)

apple, banana, cherry

In [206]:
my_string = "Hello, Python!"
print(my_string)
print(type(my_string))  # <class 'str'>

Hello, Python!
<class 'str'>

In [217]:
scores = {
    "국어 점수": 90,
    "영어 점수": 85,
    "수학 점수": 95,
    "과학 점수": 80
}

In [218]:
print("국어 점수: {}\n영어 점수: {}\n수학 점수: {}\n과학 점수: {}".format(scores["국어 점수"], scores["영어 점수"], scores["수학 점수"], scores["과학 점수"]))

국어 점수: 90
영어 점수: 85
수학 점수: 95
과학 점수: 80

In [219]:
numbers = {1,2,3,4}

In [220]:
numbers.union(numbers)

{1, 2, 3, 4}

In [2]:
a=1
b=2
eval("a*b")

2